<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>SpringMake</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  	<!-- 디스패쳐 서블릿 등록 -->  
  
    <!-- 3. 스프링 디스패처 서블릿 등록 -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 
		4.위에 서블릿 실행시 시작되는 초기값으로 contextConfigLocation을 주면 스프링 설정파일을 직접 지정할 수 있다. 
		만약 설정파일이 여러개라면 줄바꿈으로 구분하면 됩니다.
		-->
		<init-param>
			<param-name>contextConfigLocation</param-name>		
			<param-value>
				/WEB-INF/config/servlet-context.xml				
			</param-value>
		</init-param>
	</servlet>
	
	<!--모든요청에 대해서 위에 선언된 aapServlet을 실행-->
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
  
  
  
  
  
</web-app>