<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="com.simple.mapper.ScoreMapper">
  	
	<!-- insert -->
	<!-- 매개변수의 전달은 parameterType -->
	<insert id="scoreRegist" parameterType="com.simple.command.ScoreVO">
		insert into score(name, kor, eng) values( #{name},#{kor},#{eng} )
	</insert>
  
	<!-- select문의 맵핑할 vo의 풀경로가 들어간다. -->
	<select id="getScores" resultType="com.simple.command.ScoreVO">
		select * from score order by num desc  
	</select>
	  
	<!-- 매개변수가 1개 일때는 ?는 변수명을 따라간다. -->
	<delete id="scoreDelete" parameterType="int">
		delete from score where num = #{index }
	</delete>
  
  </mapper>