<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- namespace에는 구현인터페이스 풀경로 -->
  <mapper namespace="com.simple.basic.mapper.TestMapper">
  
  	<!-- id는 추상메소드 명이 들어간다. -->
  	<!-- select태그엔 resultType에는 결과를 반환받아 나올 타입이나 객체 -->
  	<!-- 세미콜론은 적지 ㅇ낳는다. -->
  	<select id="getTime" resultType="string">
  		select now()  	
  	</select>
  
  	<!-- 전달되는 매개변수를 파라미터 타입으로 나타내기 -->
  	<!-- parameter type : int, double, string ... -->
  	<!-- 매개변수가 단일값일 때 인터페이스의 이름을 따라간다. -->
  	<!-- 파라미터 타입은 생략이 가능하다. -->
	<insert id="insertOne" parameterType="string">
		insert into score (name)
		values (#{name})
	</insert>
  
  	<!-- vo가 매개변수인 경우에는 getter명을 따라간다. -->
  	<insert id="insertTwo">
		insert into score (name, kor, eng)
		values (#{name}, #{kor}, #{eng})
	</insert>
	
	<insert id="insertThree">
		insert into score (name, kor, eng)
		values (#{name}, #{kor}, #{eng})
	</insert>
	
	<insert id="insertFour">
		insert into score (name, kor, eng)
		values (#{name}, #{kor}, #{eng})
	</insert>
	
	<!-- update 구문 -->
	<update id="updateOwn">
		update score set name = #{name}, kor = #{kor}, eng = #{eng}
		where num = #{num}
	</update>
	
	
	<!-- select문은 resultType이 필수 -->
	<!-- 엘리어스에 등록이 되어있다면 단축명을 사용할 수 있다. -->
	<select id="selectOne" resultType="ScoreVo">
		select * from score where num = #{num}
	</select>
	
	<select id="selectTwo" resultType="map">
		select * from score where num = #{num}
	</select>
	
	
	<select id="selectThree" resultType="map"> <!-- ORM처리할 작업을 넣는 것. -->
		select * from score
	</select>
	
	<!-- M:1 조인 -->
	<select id="joinOne" resultType="ScoreVo">
		select * from score s 
		left join member m
		on s.name = m.id
	</select>
	
	<!-- 1:M 조인 -->
	<!-- resultMap은 1:N 조인 처리 -->
	<select id="joinTwo" resultMap="xxx">
		
	</select>
	
	<!-- type=ORM객체 id=명칭 -->
	<resultMap type="com.simple.command.MemberVO" id="xxx">
		<result column="id" property="id"/> <!-- 컬럼과 property 적기 -->
		<result column="addr" property="addr"/> 
		<collection property="list" resultMap="yyy"></collection>
	</resultMap>
	
	<resultMap type="com.simple.command.ScoreVO" id="yyy"><!-- 컬렉션 안에 vo가 다시 들어간다. -->
		<result column="num" property="num" />
		<result column="name" property="name" />
		<result column="kor" property="kor" />
		<result column="eng" property="eng" />
	</resultMap>
	
  </mapper>

